/* You can add global styles to this file, and also import other style files */
.modal-backdrop.fade.show{
  position: fixed;
  top: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 999;
}
.ngx-modal{
  top:35%;
  z-index: 999;
}
.modal-dialog.modal-dialog-centered{
  width: 100%;
}
.carousel .carousel-item{

  height: 780px !important;
  transform: translateX(0px) translateX(0px) translateZ(0px) !important;
}
.carousel{
}
