<mz-modal [fixedFooter]="true" #modalUser [options]="modalOptions">
  <mz-modal-header>
    <h4>{{titleModal}}</h4>
  </mz-modal-header>
  <mz-modal-content>
    <div class="row">
      <form [formGroup]="userForm" (ngSubmit)="saveTask($event)" novalidate>
        <div class="input-field col s12">
          <mz-input-container>
            <!-- <i mz-icon-mdi mz-input-prefix
                [icon]="'email'">
             </i>-->
            <input mz-input mz-validation required
                   [label]="'Name'"
                   [validate]="true"
                   [name]="'name'"
                   formControlName="name"
                   [errorMessageResource]="errorMessageResources.name"
                   [value]="taskContractInput.name"
                   id="task-input"
                   placeholder="Enter name of task"
                   length="150"
                   type="text">
          </mz-input-container>
        </div>
        <div class="col s6">
          <label>Prioridad</label>

          <mz-switch-container>
            <input mz-switch
                   [name]="'priority'"
                   [value]="taskContractInput.priority"
                   formControlName="priority"
                   id="switch-id"
                   [off]="'No'"
                   [on]="'Yes'"
                   type="checkbox">
          </mz-switch-container>
        </div>
        <div class="col s6">
          <!--  [(ngModel)]="dateOfBirth"-->
          <mz-datepicker-container class="col s12">
            <input mz-datepicker
                   formControlName="date_expiration"
                   [label]="'Date Expiration*'"
                   [options]="datepickerOptions"
                   [name]="'date_expiration'"
                   [value]="taskContractInput.date_expiration"
                   id="datepicker"
                   placeholder="Select your birth date"
                   type="text">
          </mz-datepicker-container>
        </div>
        <div class="col s12">
          <mz-select-container>
            <select mz-select
                    [name]="'user_from'"
                    formControlName="user_from"
                    [label]="'Para el usuario'"
                    [disabled]="taskContractInput.user_from==currentUser.id || currentUser.role=='User'"
                    [placeholder]="'Seleccione el usuario*'"
            >
              <option *ngFor="let userSel of selectableUser" [selected]="userSel.id==taskContractInput.user_from || userSel.id==currentUser.id" [value]="userSel.id">{{userSel.id}}
                | {{userSel.firstname}} {{userSel.lastname}}</option>
            </select>
          </mz-select-container>

          <button class="col s12" [disabled]="loading" mz-button>
            save
          </button>
        </div>
      </form>
      <mz-spinner
        *ngIf="loading"
        [color]="'blue'"
        [size]="'big'">
      </mz-spinner>
    </div>
  </mz-modal-content>
  <!--< <mz-modal-footer>
      <button mz-button [flat]="true" #closeBtn mz-modal-close>Disagree</button>
      <button mz-button [flat]="false" mz-modal-close>Agree</button>
    </mz-modal-footer>-->
</mz-modal>
