<div class="section">

  <div class="row">
    <div class="col s12">
      <h5>Tasks</h5>
      <!--<mz-tab
        [fixedTabWidth]="'true'"
        [responsiveThreshold]="'true'"
        [swipeable]="'true'"
      >
        <mz-tab-item
          [active]="'true'"
          [label]="'Tasks'"
        >

        </mz-tab-item>
        <mz-tab-item [label]="'Task por vencer'">

        </mz-tab-item>
        <mz-tab-item [label]="'Tab 3'">Tab 3</mz-tab-item>
      </mz-tab>-->
      <div class="row">
        <div class="col s12">

          <mz-badge
            [value]="'between 5 to 10'"
            [caption]="'Days rest'"
            [badgeClass]="'greem'"
            [new]="true">
          </mz-badge>
          <mz-badge
            [value]="'between 3 to 5'"
            [caption]="'Days rest'"
            [badgeClass]="'yellow'"
            [new]="true">
          </mz-badge>
          <mz-badge
            [value]="'3'"
            [caption]="'Days rest'"
            [badgeClass]="'red'"
            [new]="false">
          </mz-badge>

        </div>
        <table>
          <thead>
          <tr>
            <th>ID</th>
            <th>Name task</th>
            <th>Priority</th>
            <th>Date Expiration</th>
            <th>Create At</th>
            <th width="50px" class="center-align" colspan="2">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let task of taskList" [ngClass]="getDateDifferent(task.date_expiration)">
            <td>{{task.id}}</td>
            <td>{{task.name}}</td>
            <td>{{task.priority_id}}</td>
            <td>{{task.date_expiration}}</td>
            <td>{{task.created_at}}</td>
            <td width="20px">
              <button class="col s12" (click)="openModal($event,task)" mz-button>
                <i mz-icon
                   [align]="'center'"
                   [icon]="'edit'"
                   [size]="'small'">
                </i></button>
            </td>
            <td width="20px">
              <button class="col s12" (click)="deleteTask($event,task)" mz-button>
                <i mz-icon
                   [align]="'center'"
                   [icon]="'delete'"
                   [size]="'small'">
                </i></button>
            </td>
          </tr>
          <tr *ngIf="loadingTask">
            <td colspan="6" class="center-align">
              <mz-spinner
                [color]="'blue'"
                [size]="'big'">
              </mz-spinner>
            </td>
          </tr>
          </tbody>
          <tbody *ngIf="taskList.length==0">
            <td *ngIf="!loadingTask" colspan="6">you don't have tasks</td>
          </tbody>
        </table>
        <mz-pagination *ngIf="taskList.length>0" class="right"
                       [currentPage]="currentPage"
                       (click)="changePage($event)"
                       [enableFirstAndLastPageButtons]="true"
                       [itemsPerPage]="itemsPerPage"
                       [totalItems]="totalItems"
        >
        </mz-pagination>
      </div>
    </div>
    <div class="fixed-action-btn">
      <button (click)="openModal($event,null)" mz-button [float]="'true'">
        <i mz-icon
           [align]="'center'"
           [icon]="'control_point'"
           [size]="'small'">
        </i>
      </button>
    </div>
  </div>
</div>

