<div class="section">
  <div class="row">
    <div class="col s12">
      <h5>Users</h5>
      <div class="row">
        <table>
          <thead>
          <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Role</th>
            <th>Create At</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of listUser">
            <td>{{user.id}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td>{{user.created_at}}</td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
