<mz-navbar>
  <a routerLink="" class="brand-logo">Logo</a>
  <mz-navbar-item-container *ngIf="!currentUser" [align]="'right'">
    <mz-navbar-item><a routerLink="/auth/signin">Login</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="/auth/signup">Register</a></mz-navbar-item>
  </mz-navbar-item-container>
  <mz-navbar-item-container *ngIf="currentUser" [align]="'right'">
    <mz-navbar-item><a routerLink="/admin/tasks">Task</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="/admin/users">Users</a></mz-navbar-item>
    <mz-navbar-item><a routerLink="/admin/profile">Profile</a></mz-navbar-item>
    <mz-navbar-item><a (click)="logout()">logout</a></mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
