<mz-parallax [height]="300">
  <img src="https://marketeer.kapost.com/wp-content/uploads/2018/03/code-and-marketing-header-compressor.jpg">
</mz-parallax>

<div class="row">

  <div class="col s12 m12 l12">
    <mz-card>
      <mz-card-image>
        <img src="https://cdn-images-1.medium.com/max/1200/1*UvhrjqiBAUQi3wxBjk-nQg.png"/>
      </mz-card-image>
      <mz-card-image-title>Angular & Laravel 5.8</mz-card-image-title>

      <mz-card-content>
        Prueba realizada con angular 7 con autenticacion JWT y con materialize, Implementada en la parte de backend
        con php con el framework laravel version 5.8 los dos prokectos se encuentra realizada de estructura solid en el
        mismo proyecto se encuentra la parte backend y front end frente a la base de datos se realizo por medio de
        mysql.
      </mz-card-content>

      <mz-card-action>
        <a href="/auth/signin">Login</a>
        <a href="/auth/signup">Register</a>
      </mz-card-action>
    </mz-card>
  </div>
</div>
