<div class="row">
  <form [formGroup]="userForm" (ngSubmit)="clickLogin($event)" novalidate>
    <div class="col s12">
      <h5>Login</h5>
      <div class="row">
        <div class="input-field col s12">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix
               [icon]="'email'">
            </i>
            <input mz-input mz-validation required
                   [label]="'Email'"
                   [validate]="true"
                   [value]=""
                   [name]="'email'"
                   [errorMessageResource]="errorMessageResources.email"
                   formControlName="email"
                   [(ngModel)]="signIn.email"
                   id="email-input"
                   placeholder="Enter your email"
                   type="email">
          </mz-input-container>
          <!--<span class="helper-text" data-error="wrong" data-success="right">Helper text</span>-->
        </div>
        <div class="input-field col s12">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix
               [icon]="'key'">
            </i>
            <input mz-input mz-validation required
                   [label]="'Password'"
                   [validate]="true"
                   [value]=""
                   [(ngModel)]="signIn.password"
                   [name]="'password'"
                   [errorMessageResource]="errorMessageResources.password"
                   formControlName="password"
                   id="password-input"
                   placeholder="Enter your password"
                   type="password">
          </mz-input-container>
          <!--<span class="helper-text" data-error="wrong" data-success="right">Helper text</span>-->
        </div>
        <div class="col s12">
          <div class="row">
            <div class="input-field col s6 m6 l6">
              <p class="margin medium-small"><a href="/auth/signup">Register Now!</a></p>
            </div>
            <div class="input-field col s6 m6 l6">
              <p class="margin right-align medium-small"><a href="#">Forgot password?</a></p>
            </div>
          </div>
          </div>
        <div class="col s12">
          <button class="col s12" [disabled]="loading" mz-button>
            Login
          </button>
          <mz-progress
            *ngIf="loading"
            [backgroundClass]="'blue lighten-4'"
            [progressClass]="'blue'">
          </mz-progress>
        </div>
      </div>
    </div>
  </form>
</div>
