<div class="row">
  <form [formGroup]="userForm" (ngSubmit)="clickSignUp($event)" novalidate>
    <div class="col s12">
      <h5>Register</h5>
      <div class="row">
        <div class="input-field col s6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix
               [icon]="'email'">
            </i>
            <input mz-input mz-validation required
                   [label]="'firstname'"
                   [validate]="true"
                   [value]=""
                   [name]="'firstname'"
                   [errorMessageResource]="errorMessageResources.firstname"
                   formControlName="firstname"
                   [(ngModel)]="signUp.firstname"
                   id="firstname-input"
                   placeholder="Enter your firstname"
                   type="text">
          </mz-input-container>
        </div>
        <div class="input-field col s6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix
               [icon]="'email'">
            </i>
            <input mz-input mz-validation required
                   [label]="'Lastname'"
                   [validate]="true"
                   [value]=""
                   formControlName="lastname"
                   [name]="'lastname'"
                   [errorMessageResource]="errorMessageResources.lastname"
                   [(ngModel)]="signUp.lastname"
                   id="lastname-input"
                   placeholder="Enter your email"
                   type="text">
          </mz-input-container>
        </div>
        <div class="input-field col s6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix
               [icon]="'email'">
            </i>
            <input mz-input mz-validation required
                   [label]="'Email'"
                   [validate]="true"
                   [value]=""
                   [errorMessageResource]="errorMessageResources.email"
                   [name]="'email'"
                   formControlName="email"
                   [(ngModel)]="signUp.email"
                   id="email-input"
                   placeholder="Enter your email"
                   type="email">
          </mz-input-container>
        </div>
        <div class="input-field col s6">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix
               [icon]="'username'">
            </i>
            <input mz-input mz-validation required
                   [label]="'Username'"
                   [validate]="true"
                   [name]="'username'"
                   [errorMessageResource]="errorMessageResources.username"
                   formControlName="username"
                   [(ngModel)]="signUp.username"
                   id="username-input"
                   placeholder="Enter your username"
                   type="text">
          </mz-input-container>
        </div>
        <div class="input-field col s12">
          <mz-select-container>
            <select mz-select mz-validation required
                    id="role-select"
                    [label]="'Role'"
                    [name]="'role'"
                    [errorMessageResource]="errorMessageResources.role"
                    formControlName="role"
                    [(ngModel)]="signUp.role"
                    [placeholder]="'Role'"
            >
              <option *ngFor="let r of roles" data-icon="assets/select-icon-1.jpg" class="left circle"
                      value="{{r.Name}}">{{r.Name}}</option>
            </select>

          </mz-select-container>
        </div>
        <div class="input-field col s12">
          <mz-input-container>
            <i mz-icon-mdi mz-input-prefix
               [icon]="'key'">
            </i>
            <input mz-input mz-validation required
                   [label]="'Password'"
                   [validate]="true"
                   [name]="'password'"
                   [errorMessageResource]="errorMessageResources.password"
                   formControlName="password"
                   [(ngModel)]="signUp.password"
                   id="password-input"
                   placeholder="Enter your password"
                   type="password">
          </mz-input-container>
        </div>
        <div class="input-field col s12">

          <button class="col s12" mz-button>
            Register
          </button>
          <mz-progress
            *ngIf="loading"
            [backgroundClass]="'blue lighten-4'"
            [progressClass]="'blue'">
          </mz-progress>
        </div>
      </div>
    </div>
  </form>
</div>
